# Copy to .env and fill in values
BSC_TEST_KEY=0x_YOUR_PRIVATE_KEY_HERE
CLORE_API_KEY=YOUR_API_KEY_HERE
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
BRIDGE_CONTROLLER_ADDRESS=0x43173d303715F4960aa09EDc41Ac811BBDdA3B17
